<ion-view title="<img id='logo' src='images/signature.png'>" id="details">
	<form name="avis">
		<ion-content padding="true" class="has-header">
			<div class="list">
			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Qualit&eacute; de l'intervention</span>
			    <rating ng-model="$root.qualiteIntervention" max="6" data-tap-disabled="true"></rating>
			  </label>
			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Rapport qualit&eacute;/prix</span>
			    <rating ng-model="$root.qualitePrix" max="6" data-tap-disabled="true"></rating>
			  </label>
			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Relation client&egrave;le</span>
			    <rating ng-model="$root.relationClient" max="6" data-tap-disabled="true"></rating>
			  </label>
			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Qualit&eacute; des finitions</span>
			    <rating ng-model="$root.qualiteFinitions" max="6" data-tap-disabled="true"></rating>
			  </label>
			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Propret&eacute; du chantier</span>
			    <rating ng-model="$root.propreteChantier" max="6" data-tap-disabled="true"></rating>
			  </label>
			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Conseil</span>
			    <rating ng-model="$root.conseil" max="6" data-tap-disabled="true"></rating>
			  </label>
			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Photos (&agrave; faire)</span>
			  </label>
			</div>
		</ion-content>
		<div class="bar bar-footer bar-balanced has-tabs">
		  <div class="title">
		  	<button type="submit" class="button button-full button-dark" ng-click="submitAvis()">
		  		Publier l'avis
			</button>
		  </div>
		</div>
	</form>
</ion-view>